/* start with a quick reset */
html, body, ul, ol, li, p,
h1, h2, h3, h4, h5, h6,
form, fieldset, a, dd 
{
    margin: 0;
    padding: 0;
    border: 0;
}

html, body
{
	height: 100%;
}

body 
{
    text-align: center;
    font-family: Arial, Sans-Serif;
    font-size: 75%; /* standard 12px */
    color: #3d3d3d;
    background: #ccc;
}

p, h3, h2 {
	margin-bottom: 7px;
}

#page {
	background-color: #fff;
	margin: 0 auto;
	text-align: left;
	width: 960px;
	position: relative;
	padding: 0 10px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

h1 {
	font-size: 1.6em;
	padding: 12px 0;
}

#testForm, .box {
	padding: 12px;
	border: 1px solid #ccc;
	width: 400px;
	background-color: #efefef;
	margin: 12px 0 24px;
}

fieldset div {
	margin: 7px 0;
}

legend {
	margin-bottom: 8px;
	font-size: 1.2em;
}

.cs_1 {
	color: #900;
}


#e3 {
    overflow: hidden;
    height: 80px;
    background-color: #ffc;
}
