html, body {
    height: 100%;    
}

body {
    text-align: center;
    background: #efefef;
    font-family: "Helvetica, Arial";
    font-size: 75%;
}

#page {
    margin: 0 auto;
    text-align: left;
    background: #fff;
    height: 100%;
    width: 760px;
    padding: 0 12px;
}

h2.result {
    border: 1px solid #acacac;
    background: #ccc;
    padding: 8px;
    margin: 12px 0;
    color: #900;
}

fieldset {
    margin: 12px 0 12px 0;
}

legend {
    font-size: 1.4em;
}

label {
    margin-right: 6px;
    padding-bottom: 4px;
}

table.ms {
    border: 1px solid #aaa;
    margin: 20px 5px;
}

table.ms td {
    background-color: #ccc;
    border: 1px solid #aeaeae;
    text-align: center;
    vertical-align: middle;
    height: 2em;
    width: 2em;
}
