html, body {
    height: 100%;    
}

body {
    text-align: center;
    background: #efefef;
    font-family: "Helvetica, Arial";
    font-size: 75%;
}

#page {
    margin: 0 auto;
    text-align: left;
    background: #fff;
    height: 100%;
    width: 760px;
    padding: 0 12px;
}

table.ms {
    border: 1px solid #aaa;
    margin: 12px 5px;
}

table.ms td {
    background-color: #ccc;
    border: 1px solid #aeaeae;
    text-align: center;
    vertical-align: middle;
    height: 2em;
    width: 2em;
}
